@import "assets/styles/abstract/index.scss";

.post {
  margin: 0 0 16px;
  color: $color-main-text;
  // background: $color-main;
  background: #f7eebf;
  border: 1px solid $color-main-darker;
  padding: .6em 1em;
  border-radius: $border-radius;
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
}

.header {
  color: $color-main-darker;
  margin: 0 0 10px;
}

.date {
  display: block;
  font-size: .8em;
}

.btn {
  width: 100%;
  display: block;
  margin: 16px 0 0;

  @media (min-width: 800px) {
    width: auto;
    margin-left: auto;
  }
}