@import "assets/styles/abstract/index.scss";

$colorMain: $pink;

.btn {
  border: 1px solid;
  padding: .6em 1em;
  border-radius: $border-radius;
  cursor: pointer;

  color: $colorMain;
  border-color: $colorMain;
  background: transparentize($colorMain, .8);

  &:hover {
   background: $colorMain;
   color: $white;
  }

  &_disabled {
    &,
    &:hover{
      opacity: 0.6;
      color: $colorMain;
      border-color: $colorMain;
      background: transparentize($colorMain, .8);
      cursor: no-drop;
    }
  }
}
