@import "assets/styles/abstract/index.scss";

html {
  background: $white;
  color: $text-black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
}
p {
  margin: 4px 0;
}


.container {
  display: block;
  width: 100%;;
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}